openapi: 3.2.0
info:
  title: PLATFORM Contacts API
  version: 1.0.0
servers:
- url: https://api.synthflow.ai/v2
  description: Global
- url: https://api.us.synthflow.ai/v2
  description: United States
- url: https://api.eu.synthflow.ai/v2
  description: European Union
tags:
- name: Contacts
paths:
  /contacts:
    get:
      operationId: list-contacts
      summary: List contacts
      tags:
      - Contacts
      parameters:
      - name: search
        in: query
        description: The contact's phone number.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contacts_Response_200'
    post:
      operationId: create-a-contact
      summary: Create a contact
      description: ''
      tags:
      - Contacts
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts_create-a-contact_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The contact's name.
                phone_number:
                  type: string
                  description: The contact's phone number.
                email:
                  type: string
                  description: The contact's email address.
                contact_metadata:
                  $ref: '#/components/schemas/ContactsPostRequestBodyContentApplicationJsonSchemaContactMetadata'
                  description: Additional metadata for the contact.
              required:
              - name
              - phone_number
  /contacts/{contact_id}:
    get:
      operationId: getAContact
      summary: Get a contact
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAContact_Response_200'
    delete:
      operationId: deleteAContact
      summary: Delete a contact
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAContact_Response_200'
    patch:
      operationId: update-a-contact
      summary: Update a contact
      description: ''
      tags:
      - Contacts
      parameters:
      - name: contact_id
        in: path
        description: The contact's ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contacts_update-a-contact_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The contact's name.
                phone_number:
                  type: string
                  description: The contact's phone number.
                email:
                  type: string
                  description: The contact's email.
                contact_metadata:
                  $ref: '#/components/schemas/ContactsContactIdPatchRequestBodyContentApplicationJsonSchemaContactMetadata'
components:
  schemas:
    ContactsContactIdGetResponsesContentApplicationJsonSchemaResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        phone_number:
          type: string
        email:
          type: string
        contact_metadata:
          $ref: '#/components/schemas/ContactsContactIdGetResponsesContentApplicationJsonSchemaResponseContactMetadata'
        workspace_id:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        memory_store_ids:
          type: array
          items:
            description: Any type
      title: ContactsContactIdGetResponsesContentApplicationJsonSchemaResponse
    ContactsContactIdGetResponsesContentApplicationJsonSchemaResponseContactMetadata:
      type: object
      properties:
        company:
          type: string
      title: ContactsContactIdGetResponsesContentApplicationJsonSchemaResponseContactMetadata
    getAContact_Response_200:
      type: object
      properties:
        status:
          type: string
        response:
          $ref: '#/components/schemas/ContactsContactIdGetResponsesContentApplicationJsonSchemaResponse'
      title: getAContact_Response_200
    ContactsGetResponsesContentApplicationJsonSchemaResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ContactsGetResponsesContentApplicationJsonSchemaResponseItemsItems'
        total:
          type: integer
        page_size:
          type: integer
        page_number:
          type: integer
      title: ContactsGetResponsesContentApplicationJsonSchemaResponse
    list-contacts_Response_200:
      type: object
      properties:
        status:
          type: string
        response:
          $ref: '#/components/schemas/ContactsGetResponsesContentApplicationJsonSchemaResponse'
      title: list-contacts_Response_200
    ContactsGetResponsesContentApplicationJsonSchemaResponseItemsItems:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        phone_number:
          type: string
        email:
          type: string
        contact_metadata:
          $ref: '#/components/schemas/ContactsGetResponsesContentApplicationJsonSchemaResponseItemsItemsContactMetadata'
        workspace_id:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        memory_store_ids:
          type: array
          items:
            description: Any type
      title: ContactsGetResponsesContentApplicationJsonSchemaResponseItemsItems
    deleteAContact_Response_200:
      type: object
      properties:
        status:
          type: string
      title: deleteAContact_Response_200
    ContactsGetResponsesContentApplicationJsonSchemaResponseItemsItemsContactMetadata:
      type: object
      properties: {}
      title: ContactsGetResponsesContentApplicationJsonSchemaResponseItemsItemsContactMetadata
    ContactsPostResponsesContentApplicationJsonSchemaResponse:
      type: object
      properties:
        id:
          type: string
      title: ContactsPostResponsesContentApplicationJsonSchemaResponse
    ContactsContactIdPatchRequestBodyContentApplicationJsonSchemaContactMetadata:
      type: object
      properties: {}
      title: ContactsContactIdPatchRequestBodyContentApplicationJsonSchemaContactMetadata
    ContactsPostRequestBodyContentApplicationJsonSchemaContactMetadata:
      type: object
      properties:
        company:
          type: string
      description: Additional metadata for the contact.
      title: ContactsPostRequestBodyContentApplicationJsonSchemaContactMetadata
    Contacts_create-a-contact_Response_200:
      type: object
      properties:
        status:
          type: string
        response:
          $ref: '#/components/schemas/ContactsPostResponsesContentApplicationJsonSchemaResponse'
      title: Contacts_create-a-contact_Response_200
    Contacts_update-a-contact_Response_200:
      type: object
      properties:
        status:
          type: string
      title: Contacts_update-a-contact_Response_200
  securitySchemes:
    sec0:
      type: http
      scheme: bearer
