openapi: 3.2.0
info:
  title: PLATFORM API
  version: 1.0.0
servers:
- url: https://api.synthflow.ai/v2
  description: Global
- url: https://api.us.synthflow.ai/v2
  description: United States
- url: https://api.eu.synthflow.ai/v2
  description: European Union
tags:
- name: ''
paths:
  /assistants:
    post:
      operationId: create-assistant
      summary: Create an agent
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-assistant_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-assistantRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                end_call_reasons:
                  type: array
                  items:
                    type: string
                  description: 'Deprecated: use end_call_reasons_v2 instead. Custom conditions that trigger automatic call termination (simple string array format).'
                description:
                  type: string
                  description: Agent description.
                phone_number:
                  type: string
                  description: The phone number attached to the agent.
                external_webhook_url:
                  type: string
                  description: URL of the webhook that should receive data after the call, such as the transcript.
                is_recording:
                  type: boolean
                  description: Whether the conversation should be recorded.
                max_duration:
                  $ref: '#/components/schemas/AssistantsPostRequestBodyContentApplicationJsonSchemaMaxDuration'
                voicemail_message:
                  $ref: '#/components/schemas/AssistantsPostRequestBodyContentApplicationJsonSchemaVoicemailMessage'
                  description: Configuration for the message left when a voicemail is detected. Requires `greeting_message_mode` to be set to `human`.
                type:
                  $ref: '#/components/schemas/type'
                name:
                  $ref: '#/components/schemas/name'
                agent:
                  $ref: '#/components/schemas/AssistantsPostRequestBodyContentApplicationJsonSchemaAgent'
                inbound_call_webhook_url:
                  type: string
                  description: 'The URL for your inbound webhook. For more details on inbound webhooks, see <a href="/webhooks#inbound-webhook">Inbound webhook</a>.

                    '
              required:
              - type
              - name
              - agent
  /assistants/{model_id}:
    put:
      operationId: update-assistant
      summary: Update an agent
      description: "Use this endpoint to update an agent's name, phone number, or other parameters. \n Only the provided parameters will be updated, and others won't be removed or changed."
      tags:
      - ''
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/model_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-assistant_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-assistantRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                end_call_reasons:
                  type: array
                  items:
                    type: string
                  description: 'Deprecated: use end_call_reasons_v2 instead. Custom conditions that trigger automatic call termination (simple string array format).'
                description:
                  type: string
                  description: Agent description.
                phone_number:
                  type: string
                  description: The phone number attached to the agent.
                external_webhook_url:
                  type: string
                  description: URL of the webhook that should receive data after the call, such as the transcript.
                is_recording:
                  type: boolean
                  description: Whether the conversation should be recorded.
                max_duration:
                  $ref: '#/components/schemas/AssistantsModelIdPutRequestBodyContentApplicationJsonSchemaMaxDuration'
                voicemail_message:
                  $ref: '#/components/schemas/AssistantsModelIdPutRequestBodyContentApplicationJsonSchemaVoicemailMessage'
                  description: Configuration for the message left when a voicemail is detected. Requires `greeting_message_mode` to be set to `human`.
                name:
                  $ref: '#/components/schemas/name'
                agent:
                  $ref: '#/components/schemas/Agent'
    delete:
      operationId: delete-assistant
      summary: Delete an agent
      description: Use this endpoint to delete an agent.
      tags:
      - ''
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/model_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-assistant_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-assistantRequestBadRequestError'
    get:
      operationId: get-assistant
      summary: Get an agent
      description: ''
      tags:
      - ''
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/model_id'
      - name: include_actions
        in: query
        description: Include action IDs and `input_variables` (each with the action's `trigger_condition`) grouped by `action_id`.
        required: false
        schema:
          type: boolean
          default: false
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-assistant_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-assistantRequestBadRequestError'
  /assistants/:
    get:
      operationId: list-assistant
      summary: List agents
      description: Lists all agents you have in your account.
      tags:
      - ''
      parameters:
      - name: limit
        in: query
        description: Agents displayed per page.
        required: false
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Index of the first agent to be returned.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-assistant_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-assistantRequestBadRequestError'
  /assistants/{model_id}/phone_numbers:
    put:
      operationId: attach-phone-numbers-to-assistant
      summary: Attach phone numbers to an outbound agent
      description: Attach multiple outbound phone numbers to an agent by phone numbers or by slugs.
      tags:
      - ''
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/model_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attach-phone-numbers-to-assistant_Response_200'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach-phone-numbers-to-assistantRequestNotFoundError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/attach-phone-numbers-to-assistant_Request'
  /assistants/{model_id}/phone_numbers/{phone_number_slug}:
    delete:
      operationId: detach-phone-number-from-assistant
      summary: Detach phone number from an outbound agent
      description: Remove one attached outbound phone number from an agent.
      tags:
      - ''
      parameters:
      - name: model_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/model_id'
      - name: phone_number_slug
        in: path
        description: Phone number slug to remove from the agent.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detach-phone-number-from-assistant_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detach-phone-number-from-assistantRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detach-phone-number-from-assistantRequestNotFoundError'
  /calls:
    post:
      operationId: voice-call
      summary: Make a call
      description: Initiates a real-time phone call through the AI agent.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice-call_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voice-callRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model_id:
                  $ref: '#/components/schemas/model_id'
                phone:
                  type: string
                  description: Call recipient's phone number.
                from_phone_number:
                  type: string
                  description: Optional outbound caller ID. Must match a phone number attached to the outbound agent.
                name:
                  type: string
                  description: Call recipient's name.
                custom_variables:
                  type: array
                  items:
                    $ref: '#/components/schemas/CallsPostRequestBodyContentApplicationJsonSchemaCustomVariablesItems'
                  description: Key-value pairs of pre-call variables, called custom variables in the API, that you can dynamically inject into the prompt. [Learn more](/variables#pre-call-variables).
                lead_email:
                  type: string
                  description: The customer's email that can be used to book an appointment.
                lead_timezone:
                  type: string
                  description: The customer's time zone that can be used to book an appointment. For a list of all available time zones, see [Time zones](/time-zones).
                prompt:
                  type: string
                  description: The prompt that the agent will use.
                greeting:
                  type: string
                  description: The greeting the agent will use.
              required:
              - model_id
              - phone
              - name
    get:
      operationId: list-calls
      summary: List calls
      description: Returns a paginated list of calls for the specified model. You can optionally filter by time window, status, duration range, or phone number.
      tags:
      - ''
      parameters:
      - name: model_id
        in: query
        description: The calls for the specified model ID will be returned
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: How many calls will be displayed in every page, default is 20
        required: false
        schema:
          type: integer
      - name: offset
        in: query
        description: Index of the first call to be returned.
        required: false
        schema:
          type: integer
      - name: from_date
        in: query
        description: 'Begin timestamp (milliseconds since epoch) of the call. Available after the call starts. Example: 1732546200000'
        required: false
        schema:
          type: integer
          format: int64
      - name: to_date
        in: query
        description: 'End timestamp (milliseconds since epoch) of the call. Available after the call ends. Example: 1732546200000'
        required: false
        schema:
          type: integer
          format: int64
      - name: call_status
        in: query
        description: Status of call.
        required: false
        schema:
          type: string
      - name: duration_min
        in: query
        description: Only retrieve calls with duration greater than or equal to this value (seconds).
        required: false
        schema:
          type: integer
      - name: duration_max
        in: query
        description: Only retrieve calls with duration less than or equal to this value (seconds).
        required: false
        schema:
          type: integer
      - name: lead_phone_number
        in: query
        description: Phone number of the caller or callee (E.164 format preferred) and URL-encode the leading "+" (e.g. %2B14155552671)
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-calls_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-callsRequestBadRequestError'
  /calls/outbound-test-ws-media:
    post:
      operationId: start-ws-media-call
      summary: Start a WebSocket media call
      description: Starts an outbound test call and returns a short-lived WebSocket URL for streaming call audio.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: WebSocket media call created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/start-ws-media-call_Response_200'
        '400':
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-ws-media-callRequestBadRequestError'
        '401':
          description: Missing or invalid API credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-ws-media-callRequestUnauthorizedError'
        '502':
          description: Room join failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-ws-media-callRequestBadGatewayError'
        '503':
          description: WebSocket media is not enabled in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-ws-media-callRequestServiceUnavailableError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                modelId:
                  type: string
                  format: uuid
                  description: Agent model UUID.
                fromPhoneNumber:
                  type: string
                  description: Caller ID for the test call.
                toPhoneNumber:
                  type: string
                  description: Destination phone number.
                leadName:
                  type: string
                  description: Lead display name.
                agentVersion:
                  type: string
                  description: Agent version to use. Set to `draft` to test the draft version, pass a version UUID, or omit for the live version.
                wsMediaCodec:
                  $ref: '#/components/schemas/CallsOutboundTestWsMediaPostRequestBodyContentApplicationJsonSchemaWsMediaCodec'
                  default: opus
                  description: Codec to use for the WebSocket media stream. `l16` is raw big-endian 16-bit PCM at 16 kHz.
                wsMediaFraming:
                  $ref: '#/components/schemas/CallsOutboundTestWsMediaPostRequestBodyContentApplicationJsonSchemaWsMediaFraming'
                  default: rtp
                  description: Wire format for the WebSocket media stream. `rtp` (default) sends full RTP packets; `payload` sends raw codec payloads (RTP header stripped), which is simpler for external AI/STT/TTS clients. Use `payload` with `pcma`/`pcmu` — avoid `payload` with `opus` (see the integration guide for why).
                wsMediaServerName:
                  type: string
                  default: ''
                  description: Media node the client reached, taken from the `server-name` in the `server_info` message. Provide it to start the call on that exact node and receive a `sid` to bind over the open WebSocket (connect-then-bind). Omit it only for the legacy single-node flow that returns a ready-to-use `wsMediaUrl`.
              required:
              - modelId
              - fromPhoneNumber
              - toPhoneNumber
  /calls/outbound-test-ws-media/base-url:
    get:
      operationId: get-ws-media-base-url
      summary: Get the WebSocket media base URL
      description: Returns the region-correct WebSocket base URL (no session id) for the connect-then-bind flow. Connect to this URL first, read the `server_info` message, then start the call with `wsMediaServerName` set to the `server-name` you received. This call is stateless and does not start or reserve a call.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Base URL issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-ws-media-base-url_Response_200'
        '401':
          description: Missing or invalid API credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-ws-media-base-urlRequestUnauthorizedError'
        '503':
          description: WebSocket media is not enabled in this environment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-ws-media-base-urlRequestServiceUnavailableError'
  /calls/{call_id}:
    get:
      operationId: get-phone-call
      summary: Get a call
      description: Retrieve the transcript and other metadata for a phone call.
      tags:
      - ''
      parameters:
      - name: call_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/call_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-phone-call_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-phone-callRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-phone-callRequestNotFoundError'
  /simulation_cases:
    post:
      operationId: create-simulation-case
      summary: Create a simulation case
      description: Create a new simulation case for a workspace.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-simulation-case_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-simulation-caseRequestBadRequestError'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-simulation-caseRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationCaseCreateIn'
    get:
      operationId: list-simulation-cases
      summary: List simulation cases
      description: List simulation cases with pagination and optional filtering.
      tags:
      - ''
      parameters:
      - name: page_number
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of items per page.
        required: false
        schema:
          type: integer
          default: 10
      - name: search
        in: query
        description: Search term for simulation case names.
        required: false
        schema:
          type: string
      - name: simulation_case_type
        in: query
        description: Filter by simulation case type.
        required: false
        schema:
          $ref: '#/components/schemas/SimulationCasesGetParametersSimulationCaseType'
      - name: suite_id
        in: query
        description: Filter by simulation suite ID.
        required: false
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-simulation-cases_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-simulation-casesRequestBadRequestError'
  /simulation_cases/{simulation_case_id}:
    get:
      operationId: get-simulation-case
      summary: Get a simulation case
      description: Retrieve a simulation case by ID.
      tags:
      - ''
      parameters:
      - name: simulation_case_id
        in: path
        description: Simulation case ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-simulation-case_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-caseRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-caseRequestNotFoundError'
    put:
      operationId: update-simulation-case
      summary: Update a simulation case
      description: Update an existing simulation case.
      tags:
      - ''
      parameters:
      - name: simulation_case_id
        in: path
        description: Simulation case ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-simulation-case_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-caseRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-caseRequestNotFoundError'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-caseRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationCaseUpdateIn'
    delete:
      operationId: delete-simulation-case
      summary: Delete a simulation case
      description: Delete a simulation case by ID.
      tags:
      - ''
      parameters:
      - name: simulation_case_id
        in: path
        description: Simulation case ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-simulation-caseRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-simulation-caseRequestNotFoundError'
  /simulation_cases/generate:
    post:
      operationId: generate-simulation-cases
      summary: Generate test cases
      description: Generate test cases for an agent. Supports both custom prompt and flow designer agents. You can optionally specify scenarios to ensure the generated tests cover specific situations. The response is streamed as NDJSON, providing progress and results incrementally.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: string
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generate-simulation-casesRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generate-simulation-casesRequestNotFoundError'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Generate-simulation-casesRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationCaseGenerateIn'
  /simulation_cases/by_agent:
    get:
      operationId: list-simulation-cases-by-agent
      summary: List simulation cases by agent
      description: List all simulation cases created for a specific agent.
      tags:
      - ''
      parameters:
      - name: agent_id
        in: query
        description: Agent ID whose cases to list.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-simulation-cases-by-agent_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-simulation-cases-by-agentRequestBadRequestError'
  /simulation_suites:
    post:
      operationId: create-simulation-suite
      summary: Create a simulation suite
      description: Create a new simulation suite attached to a specific agent. The suite can only be executed on the agent specified by model_id.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-simulation-suite_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-simulation-suiteRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationSuiteCreateIn'
    get:
      operationId: list-simulation-suites
      summary: List simulation suites
      description: List simulation suites with pagination and optional filtering.
      tags:
      - ''
      parameters:
      - name: page_number
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of items per page.
        required: false
        schema:
          type: integer
          default: 10
      - name: search
        in: query
        description: Search term for simulation suite names.
        required: false
        schema:
          type: string
      - name: model_ids
        in: query
        description: Filter by list of model IDs.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        description: Filter by created_at >= start_date (ISO format).
        required: false
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: Filter by created_at <= end_date (ISO format).
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-simulation-suites_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-simulation-suitesRequestBadRequestError'
  /simulation_suites/{suite_id}:
    get:
      operationId: get-simulation-suite
      summary: Get a simulation suite
      description: Retrieve a simulation suite by ID.
      tags:
      - ''
      parameters:
      - name: suite_id
        in: path
        description: Simulation suite ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-simulation-suite_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-suiteRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-suiteRequestNotFoundError'
    put:
      operationId: update-simulation-suite
      summary: Update a simulation suite
      description: Update an existing simulation suite.
      tags:
      - ''
      parameters:
      - name: suite_id
        in: path
        description: Simulation suite ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-simulation-suite_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-suiteRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-suiteRequestNotFoundError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationSuiteUpdateIn'
    delete:
      operationId: delete-simulation-suite
      summary: Delete a simulation suite
      description: Delete a simulation suite by ID.
      tags:
      - ''
      parameters:
      - name: suite_id
        in: path
        description: Simulation suite ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-simulation-suiteRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-simulation-suiteRequestNotFoundError'
  /simulation_suites/{suite_id}/execute:
    post:
      operationId: execute-simulation-suite
      summary: Execute a simulation suite
      description: Execute all test cases in a suite. The suite runs on the agent it was created for (determined by the suite's model_id).
      tags:
      - ''
      parameters:
      - name: suite_id
        in: path
        description: Simulation suite ID.
        required: true
        schema:
          type: string
      - name: target_agent_id
        in: query
        description: Target agent ID. Must match the suite's model_id.
        required: true
        schema:
          type: string
      - name: max_turns
        in: query
        description: Maximum number of turns per simulation.
        required: false
        schema:
          type: integer
          default: 20
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/execute-simulation-suite_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execute-simulation-suiteRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execute-simulation-suiteRequestNotFoundError'
  /simulation_scenarios:
    post:
      operationId: create-simulation-scenario
      summary: Create a simulation scenario
      description: Create a new simulation scenario. Scenarios are templates used when generating test cases to ensure coverage of specific situations.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-simulation-scenario_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-simulation-scenarioRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationScenarioCreateIn'
    get:
      operationId: list-simulation-scenarios
      summary: List simulation scenarios
      description: List simulation scenarios with pagination and optional filtering.
      tags:
      - ''
      parameters:
      - name: page_number
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of items per page.
        required: false
        schema:
          type: integer
          default: 10
      - name: search
        in: query
        description: Search term for simulation scenario names.
        required: false
        schema:
          type: string
      - name: start_date
        in: query
        description: Filter by created_at >= start_date (ISO format).
        required: false
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: Filter by created_at <= end_date (ISO format).
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-simulation-scenarios_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-simulation-scenariosRequestBadRequestError'
  /simulation_scenarios/{scenario_id}:
    get:
      operationId: get-simulation-scenario
      summary: Get a simulation scenario
      description: Retrieve a simulation scenario by ID.
      tags:
      - ''
      parameters:
      - name: scenario_id
        in: path
        description: Simulation scenario ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-simulation-scenario_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-scenarioRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-scenarioRequestNotFoundError'
    put:
      operationId: update-simulation-scenario
      summary: Update a simulation scenario
      description: Update an existing simulation scenario.
      tags:
      - ''
      parameters:
      - name: scenario_id
        in: path
        description: Simulation scenario ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-simulation-scenario_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-scenarioRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-simulation-scenarioRequestNotFoundError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationScenarioUpdateIn'
    delete:
      operationId: delete-simulation-scenario
      summary: Delete a simulation scenario
      description: Delete a simulation scenario by ID.
      tags:
      - ''
      parameters:
      - name: scenario_id
        in: path
        description: Simulation scenario ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '204':
          description: '204'
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-simulation-scenarioRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-simulation-scenarioRequestNotFoundError'
  /simulations:
    post:
      operationId: start-simulation
      summary: Start a simulation
      description: Start a new simulation using a simulation case.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/start-simulation_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-simulationRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-simulationRequestNotFoundError'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Start-simulationRequestUnprocessableEntityError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulationCreateIn'
    get:
      operationId: list-simulations
      summary: List simulations
      description: List simulations with pagination and optional filters.
      tags:
      - ''
      parameters:
      - name: page_number
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of items per page.
        required: false
        schema:
          type: integer
          default: 10
      - name: simulation_session_id
        in: query
        description: Filter by simulation session ID.
        required: false
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: Filter by simulation status.
        required: false
        schema:
          $ref: '#/components/schemas/SimulationsGetParametersStatus'
      - name: start_date
        in: query
        description: Filter by simulation created_at >= start_date (ISO 8601).
        required: false
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: Filter by simulation created_at <= end_date (ISO 8601).
        required: false
        schema:
          type: string
          format: date-time
      - name: target_agent_id
        in: query
        description: Filter by target agent ID.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-simulations_Response_200'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-simulationsRequestUnprocessableEntityError'
  /simulations/sessions:
    get:
      operationId: list-simulation-sessions
      summary: List simulation sessions
      description: List simulation sessions with pagination and optional filters.
      tags:
      - ''
      parameters:
      - name: page_number
        in: query
        description: Page number.
        required: false
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Number of items per page.
        required: false
        schema:
          type: integer
          default: 10
      - name: target_agent_id
        in: query
        description: Filter by target agent ID.
        required: false
        schema:
          type: string
      - name: start_date
        in: query
        description: Filter by simulation created_at >= start_date (ISO 8601).
        required: false
        schema:
          type: string
          format: date-time
      - name: end_date
        in: query
        description: Filter by simulation created_at <= end_date (ISO 8601).
        required: false
        schema:
          type: string
          format: date-time
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-simulation-sessions_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-simulation-sessionsRequestBadRequestError'
  /simulations/session/{simulation_session_id}:
    get:
      operationId: get-simulation-session
      summary: Get a simulation session
      description: Retrieve simulation session details by ID.
      tags:
      - ''
      parameters:
      - name: simulation_session_id
        in: path
        description: Simulation session ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-simulation-session_Response_200'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-sessionRequestNotFoundError'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulation-sessionRequestUnprocessableEntityError'
  /simulations/{simulation_id}:
    get:
      operationId: get-simulation
      summary: Get a simulation
      description: Retrieve a simulation by ID.
      tags:
      - ''
      parameters:
      - name: simulation_id
        in: path
        description: Simulation ID.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-simulation_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulationRequestBadRequestError'
        '404':
          description: '404'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulationRequestNotFoundError'
        '422':
          description: '422'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-simulationRequestUnprocessableEntityError'
  /actions:
    get:
      operationId: list-actions
      summary: List actions
      description: ''
      tags:
      - ''
      parameters:
      - name: limit
        in: query
        description: Actions displayed per page.
        required: false
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Index of the first action to be returned.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-actions_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-actionsRequestBadRequestError'
    post:
      operationId: create-action
      summary: Create an action
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-actionRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                REAL_TIME_BOOKING:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaRealTimeBooking'
                INFORMATION_EXTRACTOR:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaInformationExtractor'
                LIVE_TRANSFER:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaLiveTransfer'
                SEND_SMS:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaSendSms'
                INCALL_SMS:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaIncallSms'
                INCALL_WHATSAPP:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaIncallWhatsapp'
                CUSTOM_ACTION:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaCustomAction'
                CUSTOM_EVAL:
                  $ref: '#/components/schemas/ActionsPostRequestBodyContentApplicationJsonSchemaCustomEval'
  /actions/initialize:
    post:
      operationId: initialize-action
      summary: Initialize a custom action
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/initialize-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Initialize-actionRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action_id:
                  type: string
                  description: The action id that will be initialized
                variables:
                  type: array
                  items:
                    $ref: '#/components/schemas/ActionsInitializePostRequestBodyContentApplicationJsonSchemaVariablesItems'
              required:
              - action_id
  /actions/{action_id}:
    put:
      operationId: update-action
      summary: Update an action
      description: ''
      tags:
      - ''
      parameters:
      - name: action_id
        in: path
        description: To find an action's ID, go to its page in your Synthflow dashboard.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-actionRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                REAL_TIME_BOOKING:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaRealTimeBooking'
                INFORMATION_EXTRACTOR:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaInformationExtractor'
                LIVE_TRANSFER:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaLiveTransfer'
                SEND_SMS:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaSendSms'
                INCALL_SMS:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaIncallSms'
                INCALL_WHATSAPP:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaIncallWhatsapp'
                CUSTOM_ACTION:
                  $ref: '#/components/schemas/ActionsActionIdPutRequestBodyContentApplicationJsonSchemaCustomAction'
    delete:
      operationId: delete-action
      summary: Delete an action
      description: ''
      tags:
      - ''
      parameters:
      - name: action_id
        in: path
        description: To find an action's ID, go to its page in your Synthflow dashboard.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-actionRequestBadRequestError'
    get:
      operationId: get-action
      summary: Get an action
      description: Retrieves metadata about an action.
      tags:
      - ''
      parameters:
      - name: action_id
        in: path
        description: To find an action's ID, go to its page in your Synthflow dashboard.
        required: true
        schema:
          type: string
      - name: include_assistants
        in: query
        description: Include assistant IDs assigned to this action.
        required: false
        schema:
          type: boolean
          default: false
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-actionRequestBadRequestError'
  /actions/attach:
    post:
      operationId: attach-action
      summary: Attach an action
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attach-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attach-actionRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model_id:
                  type: string
                  description: The ID of the agent you want to attach an action to.
                actions:
                  type: array
                  items:
                    type: string
                  description: To find an action's ID, go to its page in your Synthflow dashboard.
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/ActionsAttachPostRequestBodyContentApplicationJsonSchemaItemsItems'
                  description: Batch attach payload with per-action attachment configuration.
              required:
              - model_id
  /actions/detach:
    post:
      operationId: detach-action
      summary: Detach an action
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detach-action_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Detach-actionRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model_id:
                  type: string
                  description: The ID of the agent you want to detach an action from.
                actions:
                  type: array
                  items:
                    type: string
                  description: To find an action's ID, go to its page in your Synthflow dashboard.
              required:
              - model_id
  /analytics/:
    get:
      operationId: analyticsExport
      summary: Export analytics data
      description: 'Export analytics programmatically for blending with your BI dashboards or internal reporting tools.

        ### Troubleshooting

        * If you are not seeing data for a specific agent, double-check the model_id you are using. Make sure the agent is active.

        * Date range errors: limit the query to a maximum of 120 days.

        * Unauthorized API access: double-check your API key.'
      tags:
      - ''
      parameters:
      - name: from_date
        in: query
        description: 'The start date and time for the date range for which you want to export analytics data. If you don''t specify the date range, it''ll default to the past 7 days. The maximum date range is 120 days. Example: 2025-11-25T14:30:00Z'
        required: false
        schema:
          type: string
          format: date-time
      - name: to_date
        in: query
        description: 'The end date and time for the date range for which you want to export analytics data. Example: 2025-11-25T14:30:00Z'
        required: false
        schema:
          type: string
          format: date-time
      - name: model_id
        in: query
        description: If you want to export data for a specific agent, use its model ID. You can find it on the agent's page in your dashboard.
        required: false
        schema:
          type: string
      - name: type_of_call
        in: query
        description: Filter calls by agent type (`inbound`, `outbound` or `widget`).
        required: false
        schema:
          $ref: '#/components/schemas/AnalyticsGetParametersTypeOfCall'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/analyticsExport_Response_200'
  /voices:
    get:
      operationId: get-voices
      summary: Get voices
      description: Lists all the voices assigned to a workspace.
      tags:
      - ''
      parameters:
      - name: workspace
        in: query
        description: Workspace ID. You can find it in your dashboard.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: Voices displayed per page.
        required: false
        schema:
          type: integer
          default: 50
      - name: offset
        in: query
        description: Index of the first voice to be returned.
        required: false
        schema:
          type: integer
          default: 0
      - name: search
        in: query
        description: Search voices by name.
        required: false
        schema:
          type: string
      - name: provider
        in: query
        description: Voice provider to filter by.
        required: false
        schema:
          $ref: '#/components/schemas/VoicesGetParametersProvider'
          default: elevenlabs
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-voices_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-voicesRequestBadRequestError'
  /knowledge_base:
    get:
      operationId: list-knowledge-bases
      summary: List knowledge bases
      description: Retrieves knowledge bases for the workspace.
      tags:
      - ''
      parameters:
      - name: limit
        in: query
        description: Number of knowledge bases to return per page.
        required: false
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        description: Index of the first knowledge base to return.
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-knowledge-bases_Response_200'
    post:
      operationId: create-knowledge-base
      summary: Create a knowledge base
      description: Creates a new knowledge base and returns its ID.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-knowledge-base_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-knowledge-baseRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the knowledge base.
                rag_use_condition:
                  type: string
                  description: When this knowledge base should be used.
  /knowledge_base/{id}:
    get:
      operationId: get-knowledge-base
      summary: Get a knowledge base
      description: Retrieves the knowledge base's name and use condition.
      tags:
      - ''
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-knowledge-base_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-knowledge-baseRequestBadRequestError'
    put:
      operationId: update-knowledge-base
      summary: Update a knowledge base
      description: ''
      tags:
      - ''
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-knowledge-base_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-knowledge-baseRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the knowledge base.
                rag_use_condition:
                  type: string
                  description: When this knowledge base should be used.
    delete:
      operationId: delete-knowledge-base
      summary: Delete a knowledge base
      description: ''
      tags:
      - ''
      parameters:
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-knowledge-base_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-knowledge-baseRequestBadRequestError'
  /knowledge_base/{knowledge_base_id}/attach:
    post:
      operationId: attach-knowledge-base
      summary: Attach a knowledge base
      description: ''
      tags:
      - ''
      parameters:
      - name: knowledge_base_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: model_id
        in: query
        description: id of the agent to which knowledge base needs to be attached
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attach-knowledge-base_Response_200'
  /knowledge_base/{knowledge_base_id}/detach:
    post:
      operationId: detach-knowledge-base
      summary: Detach a knowledge base
      description: ''
      tags:
      - ''
      parameters:
      - name: knowledge_base_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/detach-knowledge-base_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                model_id:
                  type: string
                  description: id of an agent from which knowledge base needs to be detached
              required:
              - model_id
  /knowledge_base/{knowledge_base_id}/sources:
    get:
      operationId: listKnowledgeBaseSources
      summary: List knowledge base sources
      description: Returns a paginated list of sources for the specified knowledge base.
      tags:
      - ''
      parameters:
      - name: knowledge_base_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: limit
        in: query
        description: Maximum number of sources to return per page.
        required: false
        schema:
          type: integer
          default: 20
      - name: offset
        in: query
        description: Number of sources to skip before starting to return results.
        required: false
        schema:
          type: integer
          default: 0
      - name: name
        in: query
        description: Search sources by name.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listKnowledgeBaseSources_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListKnowledgeBaseSourcesRequestBadRequestError'
    post:
      operationId: attachDocumentToSource
      summary: Add a knowledge base source
      tags:
      - ''
      parameters:
      - name: knowledge_base_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/attachDocumentToSource_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Source name.
                type:
                  $ref: '#/components/schemas/KnowledgeBaseKnowledgeBaseIdSourcesPostRequestBodyContentApplicationJsonSchemaType'
                  description: Source type.
                url:
                  type: string
                  description: Source URL. Required when type is `pdf` (URL to a hosted PDF file) or `web` (URL to a website to scrape)
                content:
                  type: string
                  description: The full text content for the knowledge base source. Required when type is `text`
  /knowledge_base/{knowledge_base_id}/sources/{source_id}:
    put:
      operationId: update-knowledge-base-source
      summary: Update a knowledge base source
      description: 'Update an existing knowledge base source by source ID. The updatable fields depend on the existing source type:


        - `link` / `file`: `url`

        - `text`: `content`


        You can always update `name`.

        '
      tags:
      - ''
      parameters:
      - name: knowledge_base_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: source_id
        in: path
        description: Source ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-knowledge-base-source_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-knowledge-base-sourceRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-knowledge-base-source_Request'
    delete:
      operationId: knowledgeBaseSourceDelete
      summary: Delete a knowledge base source
      description: ''
      tags:
      - ''
      parameters:
      - name: knowledge_base_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/knowledge_base_id'
      - name: source_id
        in: path
        description: Source ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/knowledgeBaseSourceDelete_Response_200'
  /phonebooks:
    post:
      operationId: createAPhoneBook
      summary: Create a phone book
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAPhoneBook_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Phone book name.
              required:
              - name
    get:
      operationId: listPhoneBooks
      summary: List phone books
      description: List all phone books in your workspace.
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPhoneBooks_Response_200'
  /phonebooks/{phone_book_id}:
    delete:
      operationId: deleteAPhoneBook
      summary: Delete a phone book
      tags:
      - ''
      parameters:
      - name: phone_book_id
        in: path
        description: The ID of the phone book you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAPhoneBook_Response_200'
  /phonebooks/{phone_book_id}/entries:
    post:
      operationId: createAPhoneBookEntry
      summary: Create a phone book entry
      tags:
      - ''
      parameters:
      - name: phone_book_id
        in: path
        description: Phone book ID.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAPhoneBookEntry_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                phone_number:
                  type: string
                transfer_condition:
                  type: string
              required:
              - phone_number
              - transfer_condition
  /phonebooks/{phone_book_id}/entries/{entry_id}:
    delete:
      operationId: deleteAPhoneBookEntry
      summary: Delete a phone book entry
      tags:
      - ''
      parameters:
      - name: phone_book_id
        in: path
        description: Phone book ID.
        required: true
        schema:
          type: string
      - name: entry_id
        in: path
        description: The ID of the phone book entry you want to delete.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
  /subaccounts:
    post:
      operationId: create-subaccount
      summary: Create a subaccount
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-subaccount_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Create-subaccountRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subaccount_name:
                  type: string
                  description: The name for the new subaccount. This should be a unique identifier that distinguishes it from other subaccounts within the main account.
                user_email:
                  type: string
                  description: This is the email address of the user you wish to invite to the subaccount. When this optional parameter is filled in, a "sign in" link will be generated and sent back in the response. The user can use this link to sign in and set up their account.
                twilio_account_sid:
                  type: string
                  description: This is the Twilio SID of the subaccount.
                twilio_auth_token:
                  type: string
                  description: This is the Twilio Token of the subaccount.
                concurrency:
                  type: integer
                  description: The maximum number of calls the subaccount can handle at the same time.
                max_agents:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of agents the subaccount is allowed to create. Null if no limit is set.
                max_minutes:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of minutes allocated to this subaccount. Null if no limit is set.
                max_workflow_runs:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of workflow runs allocated to this subaccount. Null if no limit is set.
                grant_permissions:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubaccountsPostRequestBodyContentApplicationJsonSchemaGrantPermissionsItems'
                  description: Permissions to grant to the subaccount. Duplicate values are not allowed, and any value also present in `revoke_permissions` is rejected by the API.
                revoke_permissions:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubaccountsPostRequestBodyContentApplicationJsonSchemaRevokePermissionsItems'
                  description: Permissions to revoke from the subaccount. Duplicate values are not allowed, and any value also present in `grant_permissions` is rejected by the API.
              required:
              - subaccount_name
  /subaccounts/{subaccount_id}:
    put:
      operationId: update-subaccount
      summary: Update a subaccount
      description: ''
      tags:
      - ''
      parameters:
      - name: subaccount_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/subaccount_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-subaccount_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update-subaccountRequestBadRequestError'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                subaccount_name:
                  type: string
                  description: The name for the new subaccount. This should be a unique identifier that distinguishes it from other subaccounts within the main account.
                invite_user_email:
                  type: string
                  description: This is the email address of the user you wish to invite to the subaccount. When this optional parameter is filled in, a "sign in" link will be generated and sent back in the response. The user can use this link to sign in and set up their account.
                pricing_tiers_attach:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaPricingTiersAttachItems'
                  description: Pricing tier IDs that this subaccount can choose from when selecting a subscription plan.
                pricing_tiers_detach:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaPricingTiersDetachItems'
                  description: Pricing tiers will be removed from this subaccount and will no longer be available for selection when choosing a subscription plan.
                import_subscription:
                  $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaImportSubscription'
                  description: This section is used when you want to import an existing Stripe subscription for the subaccount
                twilio_account_sid:
                  type: string
                  description: This is the Twilio SID of the subaccount.
                twilio_auth_token:
                  type: string
                  description: This is the Twilio Token of the subaccount.
                concurrency:
                  type: integer
                  description: The maximum calls the subaccount can handle at once.
                max_agents:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of agents the subaccount is allowed to create. Null if no limit is set.
                max_minutes:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of minutes allocated to this subaccount. Null if no limit is set.
                max_workflow_runs:
                  type:
                  - integer
                  - 'null'
                  description: The maximum number of workflow runs allocated to this subaccount. Null if no limit is set.
                grant_permissions:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaGrantPermissionsItems'
                  description: Permissions to grant to the subaccount. Duplicate values are not allowed, and any value also present in `revoke_permissions` is rejected by the API.
                revoke_permissions:
                  type: array
                  items:
                    $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaRevokePermissionsItems'
                  description: Permissions to revoke from the subaccount. Duplicate values are not allowed, and any value also present in `grant_permissions` is rejected by the API.
                operation_type:
                  $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaOperationType'
                  description: The type of operation to perform. You can import objects from the parent workspace to a subaccount or return objects from a subaccount in some cases.
                products:
                  $ref: '#/components/schemas/SubaccountsSubaccountIdPutRequestBodyContentApplicationJsonSchemaProducts'
                  description: Objects to be imported to or returned from the subaccount_id
    delete:
      operationId: delete-subaccount
      summary: Delete a subaccount
      description: Deletes a subaccount by ID.
      tags:
      - ''
      parameters:
      - name: subaccount_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/subaccount_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-subaccount_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Delete-subaccountRequestBadRequestError'
    get:
      operationId: get-subaccount
      summary: Get a subaccount
      description: Retrieves detailed metadata about a specific subaccount by ID.
      tags:
      - ''
      parameters:
      - name: subaccount_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/subaccount_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-subaccount_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Get-subaccountRequestBadRequestError'
  /subaccounts/:
    get:
      operationId: list-subaccounts
      summary: List subaccounts
      description: ''
      tags:
      - ''
      parameters:
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-subaccounts_Response_200'
        '400':
          description: '400'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List-subaccountsRequestBadRequestError'
  /contacts:
    get:
      operationId: list-contacts
      summary: List contacts
      tags:
      - ''
      parameters:
      - name: search
        in: query
        description: The contact's phone number.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contacts_Response_200'
  /contacts/{contact_id}:
    get:
      operationId: getAContact
      summary: Get a contact
      tags:
      - ''
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAContact_Response_200'
    delete:
      operationId: deleteAContact
      summary: Delete a contact
      tags:
      - ''
      parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAContact_Response_200'
  /memory_stores:
    get:
      operationId: list-memory-stores
      summary: List memory stores
      tags:
      - ''
      parameters:
      - name: search
        in: query
        description: The memory store's title.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-memory-stores_Response_200'
  /memory_stores/{memory_store_id}:
    patch:
      operationId: updateAMemoryStore
      summary: Update a memory store
      tags:
      - ''
      parameters:
      - name: memory_store_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/memory_store_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAMemoryStore_Response_200'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Memory store name.
                description:
                  type: string
                  description: Memory store description.
    delete:
      operationId: deleteAMemoryStore
      summary: Delete a memory store
      tags:
      - ''
      parameters:
      - name: memory_store_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/memory_store_id'
      - name: Authorization
        in: header
        description: Bearer authentication
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteAMemoryStore_Response_200'
    get:
      operationId: getAMemoryStore
      summary: Get a memory store
      tags:
      - ''
      parameters:
      - name: memory_store_id
        in: path
        description: The memory store's ID.
        required: true
        schema:
[...]
